@import  "main";

body {
  padding-top: 60px;
}

main > div {
  padding: 100px 0;
}

header {
  width: 100%;
  left: 0;
  bottom: auto;

  h1 {
    float: left;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .logo-alt {
    display: none;
  }

  a:hover {
    .logo {
      display: none;
    }
    .logo-alt {
      width: 30px;
      height: 30px;
      top: 5px;
      position: relative;
      display: inline;
    }
  }
}

nav ul {
  float: right;

  li {
    border: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 10px;
  }
}

.section-schedule {
  .schedule-track1 {
    border-right: 1px solid #ddd;
  }

  .schedule-track2 {
    border-left: 1px solid #ddd;
  }
}

[class*="span"] {
  float: left;
  padding-left:  @grid-gutter-width; // Inner gutter via padding

  // Use this flip order of grid columns
  .row-flipped &{
    float: right;
  }
}

// 12 column grid
.span1 { .grid-width(1); }
.span2 { .grid-width(2); }
.span3 { .grid-width(3); }
.span4 { .grid-width(4); }
.span5 { .grid-width(5); }
.span6 { .grid-width(6); }
.span7 { .grid-width(7); }
.span8 { .grid-width(8); }
.span9 { .grid-width(9); }
.span10 { .grid-width(10); }
.span11 { .grid-width(11); }
.span12 { .grid-width(12); }

#about .logo {
  width: 300px;
  height: 300px;
}
